<h2>Create community data</h2>

<%= form_for(@community) do |f| %>
<%= render 'shared/communities_errors' %>

<div class="field">
  <%= f.label :subject %> <br />
  <%= f.text_field :subject, autofocus: true, autocomplete: "on"%>
</div><br />


<div class="actions">
  <%= f.submit "Save" %>
</div>

<% end %>
